<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>好友列表页面</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>

<body>
<div class="">

    <div class="friendlist   p-3">
        <h3 class="mb-3 pb-2 border-bottom text-success" th:text="${msg}"></h3>
        <div class="row row-cols-4 g-4">
            <div class="col" th:each="user: ${friendlist}" th:object="${user}">
                <div class="btn-outline-success shadow p-2 mx-2 position-relative">
                    <div class="row align-items-center">
                        <div class="col-4">
                            <h4 class="visually-hidden" th:text="*{id}"></h4>
                            <img th:src="@{/img/__*{id}___profile_picture.jpg}" class="shadow rounded-circle me-2 "
                                 width="60px"
                                 height="60px"/>
                        </div>
                        <div class="col-8 ">
                            <strong th:text="*{name}"></strong>
                            <h6 th:text="*{account}"></h6>
                            <a href="#" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{js/bootstrap.min.js}"></script>
</body>

</html>
