<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>多人聊天室</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>

<body class="vh-100 align-items-stretch">

<nav class="navbar navbar-expand-lg bg-light  navbar-light m-0 p-0">
    <div class="container-fluid">
        <a class="navbar-brand text-primary" href="#">Chat System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">主页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/homepage}">个人资料</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li>

            </ul>
            <div class="d-flex">
                <a class="nav-link disabled">用户登出</a>
            </div>

        </div>
    </div>
</nav>


<div class="d-flex m-0 p-0" style="height: 93%">

    <div class="d-flex flex-column align-items-stretch flex-shrink-0  border-start "
         style="width: 20%;height: 100%;">
        <nav id="navbar-example" class="navbar navbar-light bg-light px-3">
            <a class="navbar-brand" th:href="@{/findFriends/__${user.id}__}">好友列表</a>
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" href="#scrollspyHeading1">好友</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#scrollspyHeading2">群组</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                       aria-expanded="false">查找</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" onclick="changehtmltosearchfriend()">寻找好友</a></li>
                        <li><a class="dropdown-item" onclick="changehtmltosearchgroup()">寻找群组</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#scrollspyHeading5">更多功能待开发中</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        <div data-bs-spy="scroll" data-bs-target="#navbar-example" class="accordion" data-bs-offset="0"
             style="overflow-y: auto;height: 100%;" tabindex="0">


            <div class="accordion" id="accordionExample">
                <div id="scrollspyHeading1"></div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            好友 #1
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne"
                         data-bs-parent="#accordionExample">
                        <div class="accordion-body p-0">

                            <div class="list-group list-group-flush border-bottom "
                                 style="overflow-y: auto;height: 90%;">
                                <a th:onclick="|changehtml(|+${user.id}+|)|" th:each="user : ${friendList}"
                                   class="list-group-item d-flex align-items-center py-3 lh-tight btn-outline-success"
                                   aria-current="true">
                                    <img th:src="@{/img/__${user.id}___profile_picture.jpg}"
                                         class="shadow rounded-circle me-2 "
                                         width="60px"
                                         height="60px"/>
                                    <div class="w-100 h-100 ">
                                        <div class="d-flex h-50 w-100 align-items-center justify-content-between">
                                            <strong class="mb-1" th:text="${user.name}"></strong>
                                            <small class="justify-content-end" th:text="|id: |+${user.id}"></small>
                                        </div>
                                        <div class="align-self-end border-bottom  mb-1 small"
                                             th:text="|上次登录: | + ${#dates.format(user.getLastLogin(),'yyyy-MM-dd')}"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="scrollspyHeading2"></div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            群组 #2
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                         data-bs-parent="#accordionExample">
                        <div class="accordion-body p-0">

                            <div class="list-group list-group-flush border-bottom " style="height: 90%;">
                                <a th:onclick="|changehtmltogroupchat(|+${group.groupId}+|)|"
                                   th:each="group : ${grouplist}"
                                   class="list-group-item d-flex align-items-center py-3 lh-tight btn-outline-primary"
                                   aria-current="true">

                                    <img
                                         th:src="@{/img/groupimg/__${group.groupId}___group_profile_picture.jpg}"
                                         onerror="this.src='/img/groupdefaultimg.jpeg'"
                                         class="shadow rounded-circle me-2 "
                                         width="60px"
                                         height="60px"/>
                                    <div class="w-100 h-100 ">
                                        <div class="d-flex h-50 w-100 align-items-center justify-content-between">
                                            <strong class="mb-1" th:text="|群组:| + ${group.groupName}"></strong>
                                            <small class="justify-content-end"
                                                   th:text="|id: |+${group.groupId}"></small>
                                        </div>
                                        <div class="align-self-end border-bottom  mb-1 small"
                                             th:text="|群组成员人数:| + ${group.memberCount}"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="scrollspyHeading3"></div>
            <div class="list-group list-group-flush border-bottom " style="height: 90%;">
                <a onclick="changehtmltochatgroud()"
                   class="list-group-item d-flex align-items-center  py-3 lh-tight  btn-outline-success"
                   aria-current="true">

                    <div class="w-100 h-100 p-2">
                        <div class="d-flex h-50 w-100 align-items-center justify-content-between">
                            <strong class="mb-1">消息广场</strong>
                            <small class="justify-content-end">id:0</small>
                        </div>
                        <div class="align-self-end  mb-1 small">welcome everyone</div>
                    </div>
                </a>
            </div>


        </div>


        <div class="border-top p-3 d-flex justify-content-center">
            <a onclick="changehtmltoinsertgroup()" class="btn btn-success w-50 me-2">添加群组</a>
            <a th:href="@{/loginout}" class="btn btn-outline-secondary w-50">注销</a>
        </div>
    </div>

    <div class="container  w-100  main p-0 mh-100">
        <iframe id="myiframe" name="myiframe" th:src="@{/toChatground}" scrolling="no" width="100%"
                height="100%"></iframe>
    </div>


    <div class="d-flex  flex-column align-items-stretch flex-shrink-0 border-start"
         style="width: 20%;height: 100%">
        <a href="#"
           class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom"
           style="height: 10%;">
            <svg class="bi pe-none me-2" width="30" height="24">
                <use xlink:href="#bootstrap"></use>
            </svg>
            <span class="fs-5 fw-semibold">我的待处理事件</span>
        </a>
        <div id="eventlist" class="list-group list-group-flush border-bottom " style="overflow-y: auto;height: 90%;">
            <a href="#" th:each="event:${eventlist}" data-bs-toggle="modal"
               th:data-bs-target="|#staticBackdrop|+${event.eventId}"
               class="list-group-item list-group-item-action py-3 lh-tight"
               aria-current="true" th:id="|event| + ${event.eventId}">
                <div class="d-flex w-100 align-items-center justify-content-between">
                    <strong class="mb-1" th:text="|来自：|+${event.fromName}"></strong>
                    <small th:text="${#dates.format(event.sendTime,'yyyy-MM-dd')}">Wed</small>
                </div>
                <div class="col-10 mb-1 small" th:if="${event.state == 1}" th:text="新的好友申请"></div>
                <div class="col-10 mb-1 small" th:if="${event.state == 6}" th:text="新的加入群组申请"></div>
            </a>
        </div>
    </div>

    <div th:each="event:${eventlist}" class="modal fade" th:id="|staticBackdrop|+${event.eventId}"
         data-bs-backdrop="static"
         data-bs-keyboard="false" tabindex="-1"
         th:aria-labelledby="|staticBackdropLabel|+${event.eventId}" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" th:if="${event.state == 1}" th:id="|staticBackdropLabel|+${event.eventId}">
                        好友请求</h5>
                    <h5 class="modal-title" th:if="${event.state == 6}" th:id="|staticBackdropLabel|+${event.eventId}">
                        申请加入群组</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" th:if="${event.state == 1}">
                    <a href="#">
                        <img th:src="@{/img/__${event.fromId}___profile_picture.jpg}"
                             class="shadow rounded-circle me-2 " width="60px"
                             height="60px"/>
                        <strong class="text-success" th:text="${event.fromName}">
                        </strong>
                    </a>
                    希望成为你的好友
                </div>
                <div class="modal-body" th:if="${event.state == 6}">
                    <a href="#">
                        <img th:src="@{/img/__${event.fromId}___profile_picture.jpg}"
                             class="shadow rounded-circle me-2 " width="60px"
                             height="60px"/>
                        <strong class="text-success" th:text="${event.fromName}">
                        </strong>
                    </a>
                    <span class="mx-2" th:text="希望加入群组"></span>
                    <a>
                        <img th:src="@{/img/groupimg/__${event.toId}___group_profile_picture.jpg}"
                             onerror="this.src='/img/groupdefaultimg.jpeg'"
                             class="shadow rounded-circle me-2 " width="60px"
                             height="60px"/>
                        <strong class="text-primary" th:text="${event.toName}">
                        </strong>
                    </a>
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">拒绝</button>
                    <a type="button" th:onclick="|dealEvent(| + ${event.eventId} + |)|"
                       class="btn btn-primary">同意</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript">
    function changehtml(id) {
        var frame = document.getElementById("myiframe");
        frame.src = "/toprivatechat/" + id;
        $('#myiframe').attr('src', $('#myiframe').attr('src'));
        // alert(frame.src);
    }

    function changehtmltogroupchat(id) {
        var frame = document.getElementById("myiframe");
        frame.src = "/togroupchat/" + id;
        $('#myiframe').attr('src', $('#myiframe').attr('src'));
    }

    function changehtmltosearchgroup() {
        var frame = document.getElementById("myiframe");
        frame.src = "/tosearchgroup";
        $('#myiframe').attr('src', $('#myiframe').attr('src'));
        // alert(frame.src);
    }

    function changehtmltosearchfriend() {
        var frame = document.getElementById("myiframe");
        frame.src = "/tosearchfriend";
        $('#myiframe').attr('src', $('#myiframe').attr('src'));
    }

    function changehtmltochatgroud() {
        var frame = document.getElementById("myiframe");
        frame.src = "/toChatground";
        $('#myiframe').attr('src', $('#myiframe').attr('src'));
    }

    function changehtmltoinsertgroup() {
        var frame = document.getElementById("myiframe");
        frame.src = "/toInsertgroup";
        $('#myiframe').attr('src', $('#myiframe').attr('src'));
    }

    function dealEvent(eventId) {
        $.post('/dealevent/' + eventId, function (data) {
            alert(data);
            $('#event' + eventId).remove();
            window.location.reload();
        })
    }

    window.onload = function () {
        $.ajax({
            url: 'finduserProfilepicture',
            success: function (data) {
            }
        })

        // $.ajax({
        //     url: '/loadgroupimg',
        //     success: function (data) {
        //         alert(data);
        //     }
        // })
    }
</script>

</body>

</html>
