<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <style>
        body {
            /*background-image:url('/img/skade.jpg');*/
            background-attachment: fixed;
            background-color: white;
            background-size: cover;
        }
    </style>
</head>
<body>
<div class="d-flex  vh-100 main  p-3 justify-content-center">
    <form class="mb-3  w-50  align-self-center" th:action="@{/trylogin}" th:object="${user}">
        <figure>用户登录</figure>
        <div class="form-floating mb-3">
            <input class="form-control" th:field="*{account}" th:value="*{account}" type="text"
                   placeholder="user-account"/>
            <label for="account">account</label>
        </div>

        <div class="form-floating mb-3">
            <input class="form-control" th:field="*{password}" th:value="*{password}" type="password"
                   placeholder="user-password"/>
            <label for="password">password</label>
        </div>

        <!--验证码部分-->
        <div class="row mb-3">
            <div class="col-lg-6">
                <div class="form-floating">
                    <input class="form-control" id="vertifycode" name="vertifycode" type="text"
                           placeholder="user-account"/>
                    <label for="vertifycode">验证码</label>
                </div>
            </div>
            <div class="col-lg-6  d-flex justify-content-lg-center">
                <img id="vertifyimg" th:src="@{/img/__${userUUID}__.png?t=__${#dates.createNow()}__}" width="200"
                     height="70" onclick="changeVertifyImg()"/>
            </div>
        </div>

        <div class="d-grid mb-3">
            <button class="btn btn-outline-success" type="submit">登录</button>
        </div>

        <span class="mb-2">
			<a class="btn btn-outline-secondary" th:href="@{/register}">注册账号</a>
		    </span>
        <div id="alert" class="alert mt-2 alert-danger alert-dismissible fade show visually-hidden" role="alert">
            <strong id="msg" th:text="${msg}"></strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </form>


    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript">
        window.onload = checkifshowalert;

        function checkifshowalert() {
            var message = document.getElementById("msg").innerHTML;
            // alert(message);
            if (message === "") {

            } else {
                document.getElementById("alert").className = "alert alert-danger alert-dismissible fade show";
            }
        }

        // 更新验证码
        function changeVertifyImg() {
            var UUID = '[[${userUUID}]]'
            $.post('/login/reloadvertifyimg', function (data) {
                // alert(data);
                let url = '/img/' + UUID + '.png';
                $('#vertifyimg').attr('src', url + '?t=' + new Date());
            });
        }
    </script>
</div>
</body>
</html>