<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org// DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anhun.mapper.GroupMapper">

    <resultMap id="groupMap" type="Group">
        <id column="group_id" property="groupId"/>
        <result column="group_name" property="groupName"/>
        <result column="group_descript" property="groupDescript" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="manager_id" property="managerId"/>
        <result column="member_count" property="memberCount"/>
        <result column="group_img" property="groupImg" javaType="_byte[]" jdbcType="BLOB"/>
    </resultMap>

    <select id="findGroupById" resultMap="groupMap">
        select *
        from `groups`
        where group_id = #{id}
    </select>

    <select id="findGroupByUserId" resultMap="groupMap">
        select g.*
        from `groups` as g,
             `usergroup` as ug
        where ug.user_id = #{id}
          and g.group_id = ug.group_id
    </select>

    <insert id="insertGroup" useGeneratedKeys="true" keyProperty="groupId" parameterType="Group">
        insert into `groups`(member_count, group_name, group_descript, manager_id)
        values (1, #{groupName}, #{groupDescript}, #{managerId})
    </insert>

    <insert id="insertusergroup">
        insert into `usergroup` (user_id, group_id)
        values (#{userId}, #{groupId})
    </insert>

    <select id="searchPopularGrouplist" resultType="Group">
        select *
        from `groups`
        order by member_count desc
    </select>

    <select id="findGroupIfExist">
        select * from `groups`
        <where>
            group_name = #{groupName} and manager_id = #{managerId}
        </where>
    </select>

    <select id="findGroupIdByGroupNamewithManagerId" resultType="int">
        select group_id
        from `groups`
        where group_name = #{groupName}
          and manager_id = #{managerId}
    </select>

    <select id="findIfUserisingroup" resultType="int">
        select count(*)
        from `usergroup`
        where user_id = #{userId}
          and group_id = #{groupId}
    </select>

    <update id="updateGroupProfilePicture">
        update `groups`
        set group_img = #{img,jdbcType=BLOB}
        where group_id = #{groupId}
    </update>

    <select id="findGroupsByGroupName" resultType="Group">
        select *
        from `groups`
        where group_name like concat('%', #{groupName}, '%')
    </select>

</mapper>